<% include ../partials/header %>


<div class="wrapper">


    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->



    <div class="">



				<div class="content">
            <div class="container-fluid">

              <!-- Extract all user info from db -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">User Information</h4>
                                <p class="category">Here is uesr information table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Username</th>
                                    	<th>First Name</th>
                                    	<th>Last Name</th>
                                    	<th>Email</th>
                                    	<th>Loyalty Point</th>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(user) {%>
                                        <tr>
                                        	<td><%= user.username%></td>
                                        	<td><%= user.first_name%></td>
                                        	<td><%= user.last_name%></td>
                                        	<td><%= user.email%></td>
                                        	<td><%= user.loyal_point%></td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                     <!-- Extract all albums info from db -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Albums Record</h4>
                                <p class="category">Here is a albums information</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Title</th>
                                    	<th>Price</th>
                                    	<th>Quantity</th>
                                    	<th>Description</th>
                                      <th>Edit</th>
                                      <th>Delete</th>
                                    </thead>
                                    <tbody>
                                      <% albums.forEach(function(album) {%>
                                        <tr>
                                        	<td><%= album.id%></td>
                                        	<td><%= album.title%></td>
                                        	<td><%= album.price%></td>
                                        	<td><%= album.quantity%></td>
                                        	<td><%= album.description%></td>
                                          <td><a class="btn btn-xs btn-warning" href="/musiclist/<%= album.id%>/edit">Edit</a></td>
                                          <td>
                                              <form id="delete-form" action="/musiclist/<%= album.id%>" method="post">
                                                <button class="btn btn-xs btn-danger">Delete</button>
                                              </form>
                                          </td>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Order Record</h4>
                                    <p class="category">Here is order information table</p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>Order ID</th>
                                          <th>Purchased By</th>
                                          <th>Album ID</th>
                                          <th>Price</th>
                                          <th>Purchase Date</th>
                                          <th>Return Status</th>
                                        </thead>
                                        <tbody>
                                            <% allOrders.forEach(function(order) {%>
                                            <tr>
                                              <td><%= order.id%></td>
                                              <td><%= order.username%></td>
                                              <td><%= order.album_id%></td>
                                              <td><%= order.price%></td>
                                              <td><%= order.data_of_order%></td>
                                              <td><%= order.refund_status%></td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                     <!-- Extract all songs info from db -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Song Record</h4>
                                <p class="category">Here is song information table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Song Name</th>
                                    	<th>Singer</th>
                                    	<th>Album Id</th>
                                    	<th>File Directory</th>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(user) {%>
                                        <tr>
                                        	<td><%= user.username%></td>
                                        	<td><%= user.first_name%></td>
                                        	<td><%= user.last_name%></td>
                                        	<td><%= user.email%></td>
                                        	<td><%= user.loyal_point%></td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
</div>


</body>


</html>
