<% include ../partials/header %>

<div class="content">
    <div class="container-fluid">

      <!-- navigate to order record after submission -->
    <form action="/dashboard/order/<%= currentUser %>?_method=PUT" method="POST">
      <!-- Extract all user info from db -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Order Record</h4>
                        <p class="category">Please check your order history</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Order ID</th>
                              <th>Album ID</th>
                              <th>Purchase Date</th>
                              <th>Price</th>
                              <th>Refund Status</th>
                              <th>Refund</th>

                            </thead>
                            <tbody>
                              <% orders.forEach(function(order){ %>
                                <tr>

                                  <td><%= order.id %></td>


                                  <td><%= order.album_id %></td>


                                  <td><%= order.data_of_order %></td>


                                  <td><%= order.price %></td>

                                  <td><%= order.refund_status %></td>

                                  <td>
                                    <% if(order.refund_status === 'L' || order.refund_status === 'Y') { %>

                                    <% } else { %>
                                    <form id="delete-form" action="/dashboard/<%= currentUser %>/order" method="post">
                                      <input type="hidden" name="id" value="<%= order.id %>">
                                      <input type="hidden" name="price" value="<%= order.price %>">
                                      <button class="btn btn-xs btn-danger">Refund</button>
                                    </form>
                                    <% } %>
                                  </td>

                                </tr>
                              <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>
