<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">SoundWave</p>
            <div class="list-group">
                <li class="list-group-item active">Album Information</li>
            </div>
        </div>
        <div class="col-md-9">

            <div class="thumbnail_original">
                    <% musiclist.forEach(function(musiclist){ %>
                <img class="img-responsive" src="<%= musiclist.image %>" width="1280px" height="600px">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= musiclist.price %></h4>
                    <h4><a><%=musiclist.title%></a></h4>
                    <p><%= musiclist.description %></p>
                    <p>
                    </p>

                    <form id="shoppingCart-form" action="/musiclist/<%= musiclist.id %>/shoppingCart" method="post">
                        <input type="hidden" name="id" value="<%= musiclist.id %>">
                        <input type="hidden" name="title" value="<%= musiclist.title %>">
                        <input type="hidden" name="price" value="<%= musiclist.price %>">
                        <button class="btn btn-xs btn-warning">Add to Shopping Cart</button>
                    </form>
                    <% if (is_admin === 'Y') { %>
                    <!-- only admin has access to it -->
                        <a class="btn btn-xs btn-warning" href="/musiclist/<%= musiclist.id %>/edit">Edit</a>
                        <form id="delete-form" action="/musiclist/<%= musiclist.id %>" method="post">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <!-- only admin has access to it -->
                      <% }; %>

                    <div class="" onload="myFunction2()">

                      <audio id = "controlbit" controls controlsList="download" ontimeupdate="myFunction(this)" onclick="myFunction2()" >
                          <source src="/<%= musiclist.description %>" type="audio/ogg">
                          <source src="/<%= musiclist.description %>" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                    </div>
                    <% }); %>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/musiclist"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
<% if(!audioVerified) { %>
function myFunction(event) {
    // Trying to stop the player if it goes above 1 second
    document.getElementById('controlbit').controlsList= "nodownload"
    if (event.currentTime > 10) {
        event.pause();
        event.currentTime = 0
    }
}
function myFunction2(){
  document.getElementById('controlbit').controlsList= "nodownload"
}
<% } else {%>
  function myFunction(event) {
      // Trying to stop the player if it goes above 1 second
      console.log(event);
<%  } %>



</script>

<% include ../partials/footer %>
